.midWidth {
  width: 1030px;
  margin: auto;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
.header {
  width: 100%;
  background-color: white;
}
.header img {
  height: 23px;
}
.container {
  width: 1030px;
  margin: auto;
  background-color: white;
}
.container ul {
  width: 1030px;
}
.container ul li {
  width: 130px;
  float: right;
  text-align: center;
}

.container ul li a:hover {
  color: white;
}
.empty {
  height: 45px;
}

