.SVGbox-div{
    position: relative;
    display: inline-block;
    margin-left: 85px;
    margin-top: 58px;
    width: 140px;
    height: 189px;
}
.SVGbox{
    width: 117px;
    height: 189px;
    margin-top: -5px;
    margin-left: 11px;
    display: inline-block;
}
.imgDiv{
    transform: scale(0,0);
    -ms-transform: scale(0,0);	/* IE 9 */
    -webkit-transform: scale(0,0);	/* Safari 和 Chrome */
    -o-transform: scale(0,0);	/* Opera */
    -moz-transform: scale(0,0);	/* Firefox */
}
.imgDiv>img {
    width: 80%;
    height: 80%;
}
.img1{
    position: absolute;
    top: 62px;
    left: 105px;
    -webkit-animation: soacle 1s 1.3s linear forwards;
    animation: soacle 0.8s 1.3ss linear forwards;
}
.img2{
    position: absolute;
    top: 28px;
    left: 98px;
    -webkit-animation: soacle 1s 1.3s linear forwards;
    animation: soacle 0.8s 1.3s linear forwards;
}
.img3{
    position: absolute;
    top: 6px;
    left: 86px;
    -webkit-animation: soacle 1s 1.3s linear forwards;
    animation: soacle 0.8s 1.3s linear forwards;
}
.img4{
    position: absolute;
    top: 22px;
    left: 70px;
    -webkit-animation: soacle 1s 1.5s linear forwards;
    animation: soacle 0.8s 1.5s linear forwards;
}
.img5{
    position: absolute;
    top: 60px;
    left: 71px;
    -webkit-animation: soacle 1s 1.6s linear forwards;
    animation: soacle 0.8s 1.6s linear forwards;
}
.img6{
    position: absolute;
    top: 35px;
    left: 44px;
    -webkit-animation: soacle 1s 1.6s linear forwards;
    animation: soacle 0.8s 1.6s linear forwards;
}
.img7{
    position: absolute;
    top: 51px;
    left: 15px;
    -webkit-animation: soacle 1s 1.7s linear forwards;
    animation: soacle 0.8s 1.7s linear forwards;
}
.img8{
    position: absolute;
    top: 12px;
    left: 32px;
    -webkit-animation: soacle 1s 1.6s linear forwards;
    animation: soacle 0.8s 1.6s linear forwards;
}
.img9{
    position: absolute;
    top: 70px;
    left: 36px;
    -webkit-animation: soacle 1s 1.5s linear forwards;
    animation: soacle 0.8s 1.5s linear forwards;
}
.img10{
    position: absolute;
    top: 76px;
    left: 10px;
    -webkit-animation: soacle 1s 1.5s linear forwards;
    animation: soacle 0.8s 1.5ss linear forwards;
}
.img11{
    position: absolute;
    top: 90px;
    left: 52px;
    -webkit-animation: soacle 1s 1.7s linear forwards;
    animation: soacle 0.8s 1.7s linear forwards;
}
.img12{
    position: absolute;
    top: 26px;
    left: 9px;
    -webkit-animation: soacle 1s 1.5s linear forwards;
    animation: soacle 0.8s 1.5s linear forwards;
}
.img13{
    position: absolute;
    top: 40px;
    left: 78px;
    -webkit-animation: soacle 1s 1.6s linear forwards;
    animation: soacle 0.8s 1.6s linear forwards;
}
.img14{
    position: absolute;
    top: -4px;
    left: 54px;
    -webkit-animation: soacle 1s 1.7s linear forwards;
    animation: soacle 0.8s 1.7s linear forwards;
}
.img15{
    position: absolute;
    top: 78px;
    left: 80px;
    -webkit-animation: soacle 1s 1.6s linear forwards;
    animation: soacle 0.8s 1.6s linear forwards;
    -moz-animation: soacle 0.8s 1.6s linear forwards;
    -o-animation: soacle 0.8s 1.6s linear forwards;
    -ms-animation:soacle 0.8s 1.6s linear forwards ;
}
path {
    stroke-dasharray: 1937.05322265625px; /*表示虚线描边。数组是虚线数组。详解：http://www.w3cschool.cc/svg/svg-stroke.html。[0，图路径长]*/
    stroke-dashoffset: 1937.05322265625px; /*表示虚线的起始偏移*/
    -webkit-animation: polanim 1.5s linear forwards;
    animation: polanim 1.5s linear forwards;
    -moz-animation: polanim 1.5s linear forwards;
    -o-animation: polanim 1.5s linear forwards;
    -ms-animation: polanim 1.5s linear forwards;
}

.showBG {
    -webkit-animation: showden 1s 2s linear forwards;
    animation: showden 1s 2s linear forwards;
    -moz-animation: showden 1s 2s linear forwards;
    -o-animation: showden 1s 2s linear forwards;
    -ms-animation: showden 1s 2s linear forwards;
}

/*safari和chrome*/
@-webkit-keyframes soacle {
    0% {

    }
    70% {
        transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2); /* IE 9 */
        -webkit-transform: scale(1.2, 1.2); /* Safari 和 Chrome */
        -o-transform: scale(1.2, 1.2); /* Opera */
        -moz-transform: scale(1.2, 1.2); /* Firefox */
    }
    100% {
        transform: scale(1, 1);
        -ms-transform: scale(1, 1); /* IE 9 */
        -webkit-transform: scale(1, 1); /* Safari 和 Chrome */
        -o-transform: scale(1, 1); /* Opera */
        -moz-transform: scale(1, 1); /* Firefox */
    }
}

@keyframes soacle-reverse {
    0% {
        transform: scale(1, 1);
        -ms-transform: scale(1, 1); /* IE 9 */
        -webkit-transform: scale(1, 1); /* Safari 和 Chrome */
        -o-transform: scale(1, 1); /* Opera */
        -moz-transform: scale(1, 1); /* Firefox */
    }
    100% {
        transform: scale(0, 0);
        -ms-transform: scale(0, 0); /* IE 9 */
        -webkit-transform: scale(0, 0); /* Safari 和 Chrome */
        -o-transform: scale(0, 0); /* Opera */
        -moz-transform: scale(0, 0); /* Firefox */
    }
}

@keyframes soacle {
    0% {

    }
    70% {
        transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2); /* IE 9 */
        -webkit-transform: scale(1.2, 1.2); /* Safari 和 Chrome */
        -o-transform: scale(1.2, 1.2); /* Opera */
        -moz-transform: scale(1.2, 1.2); /* Firefox */
    }
    100% {
        transform: scale(1, 1);
        -ms-transform: scale(1, 1); /* IE 9 */
        -webkit-transform: scale(1, 1); /* Safari 和 Chrome */
        -o-transform: scale(1, 1); /* Opera */
        -moz-transform: scale(1, 1); /* Firefox */
    }
}

/*firefox*/
@-moz-keyframes soacle {
    0% {

    }
    70% {
        transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2); /* IE 9 */
        -webkit-transform: scale(1.2, 1.2); /* Safari 和 Chrome */
        -o-transform: scale(1.2, 1.2); /* Opera */
        -moz-transform: scale(1.2, 1.2); /* Firefox */
    }
    100% {
        transform: scale(1, 1);
        -ms-transform: scale(1, 1); /* IE 9 */
        -webkit-transform: scale(1, 1); /* Safari 和 Chrome */
        -o-transform: scale(1, 1); /* Opera */
        -moz-transform: scale(1, 1); /* Firefox */
    }
}

/*Opera*/
@-o-keyframes soacle {
    0% {

    }
    70% {
        transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2); /* IE 9 */
        -webkit-transform: scale(1.2, 1.2); /* Safari 和 Chrome */
        -o-transform: scale(1.2, 1.2); /* Opera */
        -moz-transform: scale(1.2, 1.2); /* Firefox */
    }
    100% {
        transform: scale(1, 1);
        -ms-transform: scale(1, 1); /* IE 9 */
        -webkit-transform: scale(1, 1); /* Safari 和 Chrome */
        -o-transform: scale(1, 1); /* Opera */
        -moz-transform: scale(1, 1); /* Firefox */
    }
}

@-webkit-keyframes polanim {
    0% {
        stroke-dasharray: 1937.05322265625;;
        stroke-dashoffset: 1937.05322265625;
        fill: transparent;
    }
    99% {
        stroke-dasharray: 1937.05322265625, 0;
        stroke-dashoffset: 0;
        fill: transparent
    }
    100% {
        stroke-dasharray: 1937.05322265625, 0;
        stroke-dashoffset: 0;
        fill: #19BEF2;
    }
}

@keyframes polanim {
    0% {
        stroke-dasharray: 1937.05322265625px;
        stroke-dashoffset: 1937.05322265625px;
        fill: transparent;
    }
    99% {
        stroke-dasharray: 1937.05322265625px, 0;
        stroke-dashoffset: 0;
        fill: transparent
    }
    100% {
        stroke-dasharray: 1937.05322265625px, 0;
        stroke-dashoffset: 0;
        fill: #19BEF2;
    }
}

@-moz-keyframes polanim {
    0% {
        stroke-dasharray: 1937.05322265625;;
        stroke-dashoffset: 1937.05322265625;
        fill: transparent;
    }
    99% {
        stroke-dasharray: 1937.05322265625, 0;
        stroke-dashoffset: 0;
        fill: transparent
    }
    100% {
        stroke-dasharray: 1937.05322265625, 0;
        stroke-dashoffset: 0;
        fill: #19BEF2;
    }
}

@-o-keyframes polanim {
    0% {
        stroke-dasharray: 1937.05322265625;;
        stroke-dashoffset: 1937.05322265625;
        fill: transparent;
    }
    99% {
        stroke-dasharray: 1937.05322265625, 0;
        stroke-dashoffset: 0;
        fill: transparent
    }
    100% {
        stroke-dasharray: 1937.05322265625, 0;
        stroke-dashoffset: 0;
        fill: #19BEF2;
    }
}

@-o-keyframes showden {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes showden {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes showden {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes showden {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}